   <!DOCTYPE html>
               <html>
                   <head>
                       <meta charset="UTF-8">
                       <title>{% block title %}Titulo del proyecto{% endblock %}</title>
                   </head>
                   <body>
                   {% for flashMessage in app.session.flashbag.get('notif') %}
                       <div>{{ flashMessage }}</div>
                       {% endfor %}
                       {% block body %}{% endblock %}
                       {% block javascripts %}{% endblock %}
                   </body>
               </html>